/* incorporate into general stylesheet */
#SendHoldings + div {display:none !important;} /* SendHoldings is the name of the widget */
#frame-heading {border-bottom: 2px solid #ccc;}
#sendframe .icon {border:1px solid #ccc; padding:2px; margin-right:4px; float:left;}
#sendframe h2 {font-size:18px; padding-left:8px;}
.text-this {position:absolute; padding-left:8px;}
.email-text-holdings {padding:0 5px !important;}
#sms-icon {position:relative; top:2px;}

/* we are using @import to get external stylesheet in body of EBSCOhost, so below will not work--need to create a separate stylesheet... needed for longer location codes as screen gets smaller
@media screen and (max-width: 1590px) {
    .text-this {position:static;}  */
    
 }