		body {font-family: Arial, sans-serif; font-size:14px; background:#EDEDED; padding:10px 5%;}
                h1 {font-size:1.9em;}
		input, label {display:block;}
                .active {display:block;}
                .hidden {display:none;}
		a:focus {font-weight:bold;}
                .icon {padding-right:4px;}
		#container {position:absolute;}
                #send-choice input, #send-choice label {display:inline; padding-right:20px;}
		.message {background:#fff; border:1px solid #ccc; padding: 10px; width:auto; position:relative; margin:8px 0; max-width:96%;}
		pre {font-family:Arial;}
		.permalink {overflow:auto;}
		input[type="text"], select {margin-bottom:6px;}

input[type="submit"]:hover, input[type="submit"]:focus {
color: #424242;
 background-color: #f3bc24!important;
 background: -moz-linear-gradient(top,rgba(255,255,255,.2) 0,rgba(255,255,255,0) 100%);
 background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,.2)),color-stop(100%,rgba(255,255,255,0)));
 background: -webkit-linear-gradient(top,rgba(255,255,255,.2) 0,rgba(255,255,255,0) 100%);
 background: -ms-linear-gradient(top,rgba(255,255,255,.2) 0,rgba(255,255,255,0) 100%);
 background: linear-gradient(to bottom,rgba(255,255,255,.2) 0,rgba(255,255,255,0) 100%);
 border-color: #f3bc24!important;

}
		
                
input[type="submit"] {
 padding: 5px 10px;
 margin: 5px 3px;
 color: #424242;
 font-size: 1.167em;
font-weight: bold;
 text-decoration: none!important;

background-color: #f9ce5a!important;
background: -moz-linear-gradient(top,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,.6)),color-stop(100%,rgba(255,255,255,0)));
background: -webkit-linear-gradient(top,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(top,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
background: linear-gradient(to bottom,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);



border: 1px solid #f3bc24;
border-radius: 3px;
clear: both;
cursor: pointer;


}
.error:focus {border:2px solid #8a0028; }
.errortext {color:#8a0028; font-weight:bold; margin:20px 0;}